<!-- Section About -->
<section class="section-about section">

  <div class="section-header-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 push-md-3">

          <header class="section-header text-center">
            <h2 class="section-title text-upper">{{ site.about-section-title }}</h2>
          </header>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row section-description">
      <div class="col-md-12 text-center">
        <p>{{ site.about-section-description }}</p>
      </div>
    </div>
  </div>

</section>
