<!-- Section Education -->
<section class="section-education section section-focus">

  <div class="section-header-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 push-md-3">

          <header class="section-header text-center">
            <h2 class="section-title text-upper">{{ site.education-section-title }}</h2>
          </header>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row section-description">
      <div class="col-md-12 text-center">
        <p>{{ site.education-section-description }}</p>
      </div>
    </div>
  </div>

  <div class="container">

    {% for node in site.tree-edu-timeline %}
      <div class="row node-box">
        <div class="col-lg-5">
          <span class="time">
            <span class="year">{{ node.year }}</span>
          </span>
        </div>
        <div class="col-lg-2">
          <div class="node">
            <div class="circle">
              <span class="{{ node.icon }}"></span>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="info">
            <span class="title">{{ node.institution }}</span>
            <p class="description">{{ node.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

</section>
