<!-- Section Projects -->
<section class="section-projects section section-focus">

  <div class="section-header-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 push-md-3">

          <header class="section-header text-center">
            <h2 class="section-title text-upper">{{ site.projects-section-title }}</h2>
          </header>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row section-description">
      <div class="col-md-12 text-center">
        <p>{{ site.projects-section-description }}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% for project in site.projects %}

        <div class="col-lg-3 col-md-6">
          <div class="project-box">
            <div class="image">
              <img src="{{ project.image-url }}" alt="{{ project.title }}">
              <div class="image-hover">
                <span class="pe-7s-look icon"></span>
              </div>
            </div>
            <div class="title">{{ project.title }}</div>
            <div class="view-project-cta">
              <a href="{{ project.project-url }}"><span class="pe-7s-paper-plane icon"></span> View More</a>
            </div>
          </div>
        </div>

      {% endfor %}
    </div>
  </div>

</section>
