<!-- Skills Services -->
<section class="section-skills section section-focus">

  <div class="section-header-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 push-md-3">

          <header class="section-header text-center">
            <h2 class="section-title text-upper">{{ site.skills-section-title }}</h2>
          </header>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row section-description">
      <div class="col-md-12 text-center">
        <p>{{ site.skills-section-description }}</p>
      </div>
    </div>
  </div>

  <div class="container apps">
    <div class="row">
      {% for skill in site.apps-skills %}
        <div class="col-lg-3 col-md-6 text-center">

          <div class="progress-donut">
            <span class="circle" data-pct="{{ skill.percent }}">
              <span class="percent">{{ skill.percent }}%</span>
              <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle class="back" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                <circle class="front" id="bar" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48"></circle>
              </svg>
            </span>

            <div class="donut-chart chart">
              <div class="slice one"></div>
              <div class="slice two"></div>
              <div class="chart-center">
                <span></span>
              </div>
            </div>
            <span class="company">{{ skill.company }}</span>
            <span class="name">{{ skill.name }}</span>
          </div>

        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container languages">
    {% for skill in site.languages-skills %}

      <div class="row progress-bar">
        <div class="col-lg-3">{{ skill.name }}</div>
        <div class="col-lg-9">
          <span class="bar">
            <span class="bar-percent" style="width: {{ skill.percent }}%"></span>
          </span>
        </div>
      </div>

    {% endfor %}
  </div>

</section>
