<!-- Section Touch -->
<section class="section-touch section">
  <div class="container-wrapper">
    <div class="container">

      <div class="row">
        <div class="col-md-8 push-md-2">

          <header class="section-header text-center">
            <h2 class="section-title text-upper">{{ site.touch-section-title }}</h2>
          </header>

        </div>
      </div>

      <div class="row text-center icons">
        <div class="col-md-4">
          <span class="pe-7s-phone pe-2x icon"></span>
          <p>{{ site.contact-info.phone }}</p>
        </div>
        <div class="col-md-4">
          <span class="pe-7s-link pe-2x icon"></span>
          <p>{{ site.contact-info.website }}</p>
        </div>
        <div class="col-md-4">
          <span class="pe-7s-mail pe-2x icon"></span>
          <p>{{ site.contact-info.email }}</p>
        </div>
      </div>

    </div>
  </div>
</section>
