<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include options.html %}

    {% include header.html %}

    {% include sections/quote.html %}

    {% include sections/about.html %}

    {% include sections/services.html %}

    {% include sections/skills.html %}

    {% include sections/education.html %}

    {% include sections/experience.html %}

    {% include sections/projects.html %}

    {% include sections/touch.html %}

    {% include sections/contact.html %}

    {{ content }}

    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
